<% include ../partials/header.ejs%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h3>Welcome to the CampGrounds</h3>
            <p> campgrounds from all the wordl! </p>
            <p>
                <a class="btn btn-primary btn-sm" href="/campgrounds/new"> Add new campGround </a>
            </p>
        </div>
    </header>
    
    <div class="row">
        <% campGrounds.forEach(function(campGround){%>
            <div class="col-md-3 col-sm-6 img-fluid">
                <div class="card mb-4 shadow-sm ">
                    <img class="card-img-top img-thumbnail" src="<%= campGround.image%>">
                    <div class="card-body">
                        <h5 class="card-text text-sm-center"><%= campGround.name%></h5>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/campgrounds/<%=campGround._id%>" class="btn btn-primary">More info</a>
                    </div>
                </div>
            
            </div>
        <%});%>
    </div>
    
<div>

<% include ../partials/footer.ejs%>