<% include ../partials/header.ejs%>
<div class="container">
    <div class="text-center">
        <h1> Insert the new campground</h1>
    </div>
    <div class="row justify-content-center">
         <form action="/campgrounds" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="name">
                <input class="form-control" type="text" name="image" placeholder="image url">
                <input class="form-control" type="text" name="description" placeholder="description">
            </div>
            <div>
                <button class="btn btn-primary btn-block">Submit</button>
            </div>
            <a href="/campgrounds">go back</a>
        </form>
        
    </div>
</div>

<% include ../partials/footer.ejs %>